/* .catalog-1lswi38-Menu-Menu {
  display: none !important;
}

a.catalog-ko58r9-Link-Link {
  text-decoration: underline;
} */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face {
  font-family: 'ApercuRegular';
  src: url('/apercu_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
